body{

    height: 500px;
}

.droite{

    position: relative;
    right: 40px;
}

.boutonsdpl{
    position: relative;
    right: 10px;
}

.i-name{
    position: relative;
    bottom: 600px;
    left: -60px;
}

#warrri{

    position: relative;
    left: 40px;
    bottom: 70px;

}

.last{
    position: relative;
    bottom: 70px;
}