<<<<<<< HEAD
*
{
    margin: 0;
    padding: 0;
}
body{
   
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* height: 500px; */
    
}
.form-container{
    width: 600px; 
    height: 300px;
    background-color:#F79423;
    position: absolute;
    opacity: 0.;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 20px;
    font-family:sans-serif ;
}
.input{
    margin: 25px auto;
    border: 1px solid white;
    width: 70%;
    /* padding-left: 10px; */
    padding-top: 10px;

    border-radius: 10px;
}
.input input{
    width: 70%;
    /* padding-inline-end: 10px; */
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    
}
::placeholder{
    font-size: 16px;
    color: black;
}
.submit button{
    width: 40%;
    padding: 8px;
    border-radius: 10px;
    background: transparent;
    color: black;
    font-size: 16px;
    border: 1px solid white;
}
.submit button:hover{
background-color:white ;
color: black;

}
.fa-eye-slash,.fa-eye{
    position: absolute;
    cursor: pointer;

}

i{
    position: relative;
    left: -30px;
}
=======
/* .monlogo{
    position: relative;
    left: -60px;
}


.fa{
    margin: 5px;
    cursor: pointer;
}

.eye{
    position: absolute;
}
#hide1{
    display: none;
}
#mask1{
    display: none;
} */
>>>>>>> 17dbc5ba943871263574d751b627960c4e6d1ae6
